<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Amogus Todo Application</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" crossorigin="anonymous" />
</head>
<body>
  <header>
    <nav class="navbar navbar-light bg-light">
      <div class="container-fluid text-center">
        <h1 class="mx-auto">Amogus Todo Application</h1>
      </div>
    </nav>
  </header>

  <div class="container-fluid">
    {% block todocontainer %}{% endblock %}
  </div>
</body>
</html>
